.wrapper {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0 10%;
    transition: ease-in-out 0.1ms;
}
.MuiBottomNavigation-root {
    padding: 40px 0;
}
.dark .wrapper {
    padding: 12px 0;
    color: white;
}

.light .wrapper {
    padding: 12px 0;
    background: white;
    color: #0c63e4;
}
.wrapper input {
    padding: 8px 4px;
    border: 1px solid gray;
    border-radius: 4px;
}
.wrapper tbody, td, tfoot, th, thead, tr {
    padding: 8px;
    border: 1px solid;
    text-align: left;
}
.wrapper table td:first-child {
    text-align: center;
}
.wrapper table td:last-child {
    text-align: center;
}
table {
    width: 100%;
}
.visible {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}
.visible button {
    width: 100%;
    font-size: 8px;
}
@media (max-width: 999px) {
    .visible {
        display: flex;
    }
    .hidden {
        display: none;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin: 0 1%;
    }
    .products table * {
        font-size: 12px;
    }
    .products-btns {
        display: flex;
        align-items: center;
        justify-content: center ;
        border: none;
    }
    .products-btns button{
        padding: 0;
        width: 30px;
        height: 30px;
        border-radius: 0;
    }
    .products-btns span {
        display: none;
    }
}
