.dark .category__body {
    background-color: #343434;
    min-height: 80vh;
}
.category__wrapper {
    transition: 0.5s;
    padding: 12px 0 0 0;
    display: flex;
    flex-direction: column;
}

.category__wrapper nav{
    padding: 12px 0;
}
.category__body {
    padding: 12px 12px 30px 12px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.card__wrapper {
    background: white;
    width: 49%;
    height: min-content;
}

.card__body img {
    height: 400px;
}
.card__body span {
    position: absolute;
    background: #1870c7;
    padding: 12px 24px;
    color: white;
    border-radius: 50px;
    bottom: 80px;
}
.card__body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #343434;
}
.card__body div {
    padding: 12px;
    display: flex;
    align-items: center;
    color: black;
    background-color: #c2c2c2;
    flex-direction: row;
    justify-content: space-between;
}
.card__body button {
    border: none;
    background: #1870c7;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-self: center;
    padding: 12px;
    justify-content: center;
}
@media (min-width: 1480px) {
    .card__wrapper {
        width: 30%;
    }
}
@media (min-width: 1080px) {
    .category__wrapper {
        padding: 0 10%;
    }
}
@media (max-width: 768px) {
    .card__wrapper {
        width: 100%
    }
}