* {
    margin: 0;
    padding: 0;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 87vh;
}
.dark-profile {
    background-image: url('../assets/profile__wrapper.svg');
    background-position: center;
    color: white;
}
.light-profile {
    background-position: bottom;
    background-image: url('../assets/profile__wrapper-light.svg');
    color: black;
}
.MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-formControl {
    width: 100%;
}
.orders__wrapper {
    margin: 24px 0;
    padding: 40px 14px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 40px;
    padding-bottom: 40px;
    height: fit-content;
    align-self: center;
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.profile__body h1 {
    margin-bottom: 4rem;
}
.profile__body div {
    margin-bottom: 12px;
}
.profile-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    font-size: 20px;
}
.profile-content div:first-child {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}
.profile-content div:last-child a {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.content-address {
    display: flex;
    width: 100%;
    flex-direction: row;
}

table .img {
    border: 1px solid black;
}

.orders__wrapper {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.order-prop {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.order-btns {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.mobile {
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    align-items: flex-start;
}
.mobile .order-prop {
    padding: 4px 8px;
    border-top: 1px solid #343434;
    width: 100%;
}

.mobile .order-prop:first-child {
    border-top: 0px;
}
.no-mobile {
    flex-direction: row;
    gap: 4px;
}
@media (max-width: 999px) {
    .profile {
        flex-direction: column;
        flex-wrap: wrap;
    }
    .profile__wrapper {
        width: 100%;
        min-height: fit-content;
    }
    .content-address {
        flex-direction: column;
    }
    .orders__wrapper {
        width: 100%;
    }
    .modile-td {
        display: none;
    }
    .mobile {
        display: flex;
    }
    .no-mobile {
        display: none;
    }
}
@media (min-width: 1020px) {
    .profile {
        flex-direction: row;
    }
    .profile__wrapper {
        width: 50%;
    }
    .no-mobile {
        display: flex;
    }
    .mobile {
        display: none;
    }
    .orders__wrapper {
        width: 40%;
    }
}