* {
    margin: 0;
    padding: 0;
}
.light {
    background-color: white;
    color: #1870c7;
}
.dark {
    background-color: #1d1d1d;
    color: white;
}
.profile__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}
.profile__body {
    padding: 2rem 0;
    width: 60vh;
    background-color: white;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.profile__body h1 {
    margin-bottom: 4rem;
}
.profile__body div {
    margin-bottom: 12px;
}
.profile-content {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    font-size: 20px;
}
.profile-content div:first-child {
    width: 100%;
    height: 80%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
}
.profile-content div:last-child a {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}