body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: #000101;
    color: white;
    overflow-x: hidden;
    /*background: linear-gradient(90deg, #faf0cd, #fab397);*/
}
a:active, a:hover, a:focus, a {
    text-decoration: none;
    /*color: black;*/
    color: white;
}
#root {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
header, footer {
    /*background: linear-gradient(90deg, #f598a8, #c09589);*/
    padding: 12px 0;
    background-color: #171719;
    color: white;
}

.mainprev__wrapper {
    min-height: 80vh;
    background-position: center;
    background-image: url('https://sun9-2.userapi.com/impg/vgrym6fsTy2p2elNauGGGBbejhF_iLrzdDuGAg/mUI_HzQNA58.jpg?size=931x545&quality=96&sign=634655d277e499d4e4d033424984439b&type=album');
    background-size: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
.mainprev__body {
    gap: 2rem;
    padding: 0 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.58);
    height: 80vh;
}
.mainprev-title {
    letter-spacing: 0.5rem;
    width: 80%;
    font-weight: bold;
    font-size: 4rem;
}
.logo {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: bold;
}
footer {
    display: flex;
    justify-content: center;
}
.container {
    margin: 0 10%;
}
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters--wrapper-item {
    display: flex;
    gap: 6px;
    align-items: center;
    /*background: linear-gradient(90deg, #f598a8, #c09589);*/
    background-color: white;
    padding: 20px 16px 0 16px;
    border-radius: 0 0 16px 16px;
    margin-bottom: 20px;
}
.filters--wrapper-item button {
    justify-content: center;
    align-items: center;
}
.search {
    /* устанавливаем необходимую ширину формы в зависимости от дизайна
    ** форма без проблем растягивается */
    width: 90%;

    margin: 0 auto;
    /* кнопку отправки будем позиционировать абсолютно,
    ** поэтому необходимо это свойство */
    position: relative;
}

.search input {
    opacity: 1;
    /* отключаем бордюры у инпутов */
    border: none;
}

/* стили для поля ввода */
.search .input {
    /* растягиваем поле ввода на всю ширину формы */
    width: 100%;

    /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
    ** регулируем высоту формы
    ** внутренний отступ справа (37px) делаем больше левого,
    ** т.к. там будет размещена кнопка отправки	*/
    padding: 8px 37px 9px 15px;

    /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* добавляем внутренние тени */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

    /* закругляем углы */
    border-radius: 20px;

    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;
    outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
    /* позиционируем кнопку абсолютно от правого края формы */
    position: absolute;
    top: 0;
    right: 0;

    width: 37px;

    /* растягиваем кнопку на всю высоту формы */
    height: 100%;

    cursor: pointer;
    background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

    /* добавляем прозрачность кнопке отправки */
    opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
    opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
    -webkit-appearance: none;
}
.items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.items {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: space-around;
    padding: 6px 0 12px 0;
}
.card {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 12px 8px;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
}
.card-content {
    margin: 12px 0;
}
.card-img {
    width: 100%;
}

.cart {
    width: 100%;
    height: 180px;
    background: #4fc3f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    border-radius:  10px;
    color: white;
    transition: all 0.5s ease;
}
.cart:hover {
    background: white;
    color: black;
    transition: all 0.5s ease;
}
.cart-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.cart-content div button {
    border-radius: 50px;
    border: none;
    background: linear-gradient(90deg, #f9ddbc, #6e737c);
    margin: 12px 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.cart-length {
    width: 20px;
    height: 20px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 40px;
    left: 15px;
    border-radius: 50px;
    color: white;
    background-color: rgba(255, 0, 0, 0.55);
}
.cart-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 160px;
    border-radius: 10px;
}
.cart-action button {
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: #fff1f1;
    padding: 24px;
    border: 0.5px solid transparent;
    align-items: center;
    justify-content: center;
}
.cart-action button:hover {
    background-color: #b9a096;
    color: white;
}
.cartWrapper {
    min-height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #3f3f3f;
}
main {
    background: #3f3f3f;
}
.title {
    display: flex;
    font-weight: 600;
    font-size: 28px;
    padding: 12px 0;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    background-color: #333333;
}
.total {
    display: flex;
    font-weight: 600;
    font-size: 28px;
    padding: 12px 0;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    background-color: #333333;
}
.cart-action span {
    font-weight: 900;
    line-height: 25px;
}
.filters--wrapper {
    display: flex;
    gap: 12px;
    justify-content: space-between;
}
.filters--wrapper-item:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 80%;
}
.filters--wrapper-item:last-child button {
    width: 60%;
    padding: 6px;
}
.btn {
     /* сброс стилей */
     padding: 0;
     font: inherit;
     color: #656565;
     background-color: transparent;
     cursor: pointer;

     /* сброс браузерных стилей для фокуса */
     outline: none;

     /* переопределение стилей для ссылок */
     display: inline-block;
     text-align: center;
     text-decoration: none;

     /* небольшие вертикальные отступы */
     margin: 2px 0;

     /* невидимая рамка */
     border: solid 1px transparent;
     border-radius: 4px;

     /* для установки размеров используем паддинги */
     padding: 0.5em 1em;

     /* контрастные цвета */
 }

.btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}

.btn:hover,
.btn:focus {
    color: #656565;
    border-color: currentColor;
    background-color: white;
}

/* сброс браузерных стилей для фокуса */
.btn::-moz-focus-inner {
    border: none;
}

.wrapper-modal {
    background-color: rgba(0, 0, 0, 0.48);
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    background-color: white;
    position: absolute;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 12px 24px;
}
.modal-img {
    width: 60%;
}
.modal-info {
    display: flex;
    width: 50%;
    flex-direction: column;
    color: #282828;
}
.modal-info .card-content {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.slider-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-body button {
    background: none;
    border: none;
}
.close-modal {
    position: relative;
    bottom: 40%;
    left: 41%;
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.close-modal button {
    background: none;
    border: none;
    cursor: pointer;
}
.modal-img img {
    width: 40%;
}
.img-btn {
    display: flex;
    gap: 12px;
}
.img-btn button {
    border: none;
    background-color: white;
}
.img-btn button img{
    border: none;
    background-color: white;
    width: 100%;
}
.succes {
    display: none;
}
.warn {
    padding: 12px 24px;
    color: #e3f2fd;
    width: 100%;
    font-weight: bold;
    background: #f44336;
    border-radius: 10px;
    transition: 0.2s;
}
.display-block {
    opacity: 1;
}
.display-none {
    opacity: 0;
}
.parallax__wrapper {
    width: 100%;
    height: 200px;
    background-color: white;
}
.parallax {
    animation-duration: 10s;
    animation-name: parallax;
    display: flex;
    position: absolute;
    left: -100%;
}
.parallax__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.parallax__wrapper span {
    z-index: 1;
    color: black;
    animation-name: span;
}
.categorias-title {
    margin: 20px;
}
.categorias__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}
.categorias-lists {
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}
.categorias-lists-item {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('https://static.street-beat.ru/upload/resize_cache/iblock/aa1/500_500_1/aa1e815e73316f0a650778cd39962eab.jpeg');
}
.categorias-lists-item div {
    background-color: rgba(0, 0, 0, 0.68);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s linear;
}
.categorias-lists-item div:hover {
    background-color: rgba(0, 0, 0, 0);
}

@keyframes parallax {
    from {
        left: -100%;
    }

    to {
        left: 100%;
    }
}
@keyframes span {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}
@media (max-width: 1080px ) {
    .modal {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .modal-img {
        width: 70%;
    }
    .modal-info .card-content {
        height: 100%;
    }
    .cart-content {
        flex-direction: column;
    }
}
@media (max-width: 767px ) {
    .container {
        max-width: 90%;
    }
    .modal {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .modal-img {
        width: 80%;
    }
    .modal-info .cart-content {
        height: 300px;
    }
    .cart {
        flex-direction: column;
        height: 100%;
    }
}

@media (max-width: 710px ) {
    .container {
        max-width: 95%;
    }
    .modal {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .modal-img {
        width: 85%;
    }
    .modal-info .cart-content {
        height: 300px;
    }
}

@media (max-width: 666px ) {
    .items {
        justify-content: center;
    }
    .card {
        width: 90%;
        padding: 5px 48px;
    }
    .card-content, .modal-title{
        margin-top: 0;
    }
    .modal {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .modal-img {
        width: 90%;
    }
    .modal-info .cart-content {
        height: 300px;
    }

}

@media (max-width: 375px) {
    .mainprev-title {
        font-size: 16px;
    }
    .mainprev__wrapper {
        background-size: 100% 100%;
        background-image: url(https://sun9-88.userapi.com/impg/NcUKZt1LEG3Wnu6Pyhc5wSEuppgBDhmgaTxHaA/hnE46nX4YA0.jpg?size=1440x1440&quality=96&sign=6a19bbcbea5198dbd5fcb9b8ccf7523b&type=album);
    }
    .mainprev__body {
        padding: 32px 18px;
        justify-content: space-between;
    }
    .mainprev-btns {
        align-items: flex-end;
        justify-content: flex-end;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .parallax__wrapper span {
        font-size: 12px;
        font-weight: bold;
    }
    .categorias-lists {
        justify-content: center;
    }
}